<mat-card>
    <mat-form-field>
        <input matInput type="text" placeholder="College ID" [(ngModel)]="collegeid">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput  type ="text" placeholder="Department ID" [(ngModel)]="departmentid">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput  type ="text" placeholder="Department Name" [(ngModel)]="departmentname">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="onNewDepartment()">Add Department</button>
</mat-card>